.description
    background: #F2F2F2 url('../../image/exchange-logo.png') no-repeat right
    min-height: 600px
    padding-top: 100px
    padding-bottom: 200px
    
    
    &__title
       padding-left: 150px
    